{% extends "base.html" %}

{% block content %}
<h2 class="erp-title-page">Select Company</h2>

<div class="erp-card p-3">

    <p>Select the company you want to work with:</p>

    <ul class="list-group">
        {% for cu in companies %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ cu.company.name }}
            <a href="{% url 'company_set_active' cu.company.id %}" class="btn btn-primary">
                Select
            </a>
        </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
