<h2>Inventory</h2>

<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Stock</th>
            <th>Minimum</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.min_stock }}</td>
            <td>
                <a href="{% url 'inventory_detail' item.pk %}">See</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
